.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas{
   border-width: 10px;
   border-style: ridge;
   background-color: white;
   border-color:#ec830c;
}